$background: #130512;

nav {
    white-space: nowrap;
    background: $background;
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 9;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    background: black;

    text-decoration: none;
}
nav ul li a.current {
    background: white;
    color: black;
}

nav button {
    height: 40px;
}
